* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.navbar-content {
  background-image: url(/pages/fon.png);
  max-width: 1500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 800px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.navbar-content .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white 100%;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 30px;
  position: fixed;
  z-index: 1;
}
.navbar-content .navbar .navbar-logo {
  padding-left: 30px;
}
.navbar-content .navbar .navbar-menus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.navbar-content .navbar .navbar-menus li a {
  color: white;
}
.navbar-content .navbar-btn {
  background-color: rgba(84, 104, 231, 0.5019607843);
  border: none;
  width: 150px;
  height: 45px;
  color: white;
}
.navbar-content .menu-btn img {
  display: none;
}
.navbar-content .navbar-infos {
  color: white;
  padding-top: 300px;
  padding-left: 80px;
}
.navbar-content .navbar-infos .infos__page {
  font-size: 60px;
}
.navbar-content .navbar-infos .infos__description {
  font-size: 20px;
  padding-top: 15px;
}
@media (max-width: 943px) {
  .navbar-content .navbar .navbar-menus {
    display: none;
  }
  .navbar-content .navbar .menu-btn img {
    display: inline-block;
  }
}

.navbar-btns {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 80px;
  padding-top: 60px;
}
.navbar-btns .search-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-btns .search-box input {
  width: 300px;
  height: 40px;
  font-size: 16px;
  border: 1px solid #5468E7;
  border-radius: 5px;
  padding-left: 15px;
}
.navbar-btns .navbar-butn {
  background-color: #5468E7;
  color: white;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 5px;
}

#hero .hero-content {
  max-width: 1500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 20px;
}
#hero .hero-content .hero-infos {
  color: #232340;
  margin-top: 150px;
  margin-left: 60px;
}
#hero .hero-content .hero-infos .hero-page {
  font-size: 50px;
  line-height: 64px;
}
#hero .hero-content .hero-infos .hero-description {
  padding-top: 20px;
  font-size: 20px;
  line-height: 27px;
}
#hero .hero-content .hero-image {
  margin-top: 50px;
}

#hero2 .container {
  max-width: 1500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#hero2 .container .hero2-content {
  display: flex;
  gap: 50px;
  margin-top: 70px;
}
#hero2 .container .hero2-content .hero2-image {
  margin-left: 70px;
}
#hero2 .container .hero2-content .hero2-infos {
  color: #232340;
  margin-left: 50px;
  margin-top: 100px;
}
#hero2 .container .hero2-content .hero2-infos .hero2-page {
  font-size: 50px;
  line-height: 64px;
}
#hero2 .container .hero2-content .hero2-infos .hero2-description {
  margin-top: 20px;
  font-size: 20px;
  line-height: 27px;
}

#hero3 .container {
  max-width: 1500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#hero3 .container .hero3-content {
  display: flex;
  margin-top: 100px;
  gap: 60px;
}
#hero3 .container .hero3-content .hero3-infos {
  color: #232340;
  margin-left: 70px;
  margin-top: 100px;
}
#hero3 .container .hero3-content .hero3-infos .hero3-page {
  font-size: 50px;
  line-height: 64px;
}
#hero3 .container .hero3-content .hero3-infos .hero3-description {
  font-size: 20px;
  line-height: 27px;
  margin-top: 20px;
}
#hero3 .container .hero3-content .hero3-image {
  margin-left: 90px;
}

#hero4 .container {
  max-width: 1500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#hero4 .container .hero4-content {
  display: flex;
  gap: 100px;
  margin-top: 100px;
}
#hero4 .container .hero4-content .hero4-image {
  margin-left: 70px;
}
#hero4 .container .hero4-content .hero4-infos {
  color: #232340;
  margin-top: 100px;
}
#hero4 .container .hero4-content .hero4-infos .hero4-page {
  font-size: 50px;
  line-height: 64px;
}
#hero4 .container .hero4-content .hero4-infos .hero4-description {
  margin-top: 20px;
  font-size: 20px;
  line-height: 27px;
}

#hero5 .container {
  max-width: 1500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#hero5 .container .hero5-content {
  margin-top: 100px;
}
#hero5 .container .hero5-content .hero5-page {
  color: #232340;
  font-size: 50px;
  line-height: 64px;
  text-align: center;
  margin-bottom: 50px;
}
#hero5 .container .hero5-cards .hero5-card {
  border: none;
  background-color: rgb(233, 231, 231);
  width: 300px;
  height: 300px;
}
#hero5 .container .hero5-cards .hero5-card .hero5-png {
  padding-top: 20px;
  padding-left: 25px;
}
#hero5 .container .hero5-cards .hero5-card .hero5-description {
  padding-left: 35px;
  padding-top: 10px;
  color: #232340;
  font-size: 18px;
}
#hero5 .container .hero5-cards .hero5-card .hero5-logo__menu {
  display: flex;
  gap: 30px;
}/*# sourceMappingURL=style.css.map */